@import "settings";
@import "foundation";

h2,
h3 {
	letter-spacing:.06rem;
}

.pb0 {
	padding-bottom:0 !important;
}

hr {
	border-color:$smoke;
	max-width:250px;
	margin-left:auto;
	margin-right:auto;
}

.header-contact {
	position:absolute;
	background-color:$alert-color;
	right:0;
	height:25px;
	img {
		float:left;
		margin-left:-77px;
	}
	p {
		float:left;
		font-family:$font-family-sans-serif;
	 	text-transform:uppercase;
	 	color:$oil;
	 	font-weight:700;
	 	font-size:14px;
	 	padding:0 20px;
	 	span {
	 		padding-left:20px;
	 	}
	}
}

.extend-contact-container {
	background-color: #fec23d;
	right: 0;
	height: 25px;
	position: absolute;
	width: 50%;
}

section {
	padding-top:80px;
	padding-bottom:80px;
	&.hero {
		padding:0;
	}
	&.alternate {
		background-color:$oil;
		h2, 
		h3 {
			color:$white;
		}
		hr { 
			border-color:#444;
		}
		.grid .cell {
			padding-bottom:25px;
			.content {
				position: relative;
				padding-left: 90px;
			}
			div.content:before {
				content: "";
				display: block;
				width: 90px;
				height: 90px;
				float: left;
				margin: 0 6px 0 0;
				position: absolute;
				left: 0;
			}
			div.umbrella:before {
				background: url("../img/umbrella_icon.png") no-repeat;
			}
			div.tie:before {
				background: url("../img/tie_icon.png") no-repeat;
				margin-left: 20px;
			}
			div.paintroller:before {
				background: url("../img/paintroller_icon.png") no-repeat;
			}
			div.paintbrush:before {
				background: url("../img/paintbrush_icon.png") no-repeat;
			}
			div.extinguisher:before {
				background: url("../img/extinguisher_icon.png") no-repeat;
				margin-left: 20px;
			}
			div.phone:before {
				background: url("../img/phone_icon.png") no-repeat;
				margin-left: 15px;
			}
		}
	}
	&.map {
		position:relative;
		border-bottom:14px solid $blue;
		padding-top:0;
		padding-bottom:0;
		.header-overlay {
			h2 {
				position:absolute;
				width:100%;
				margin:0;
				padding:60px 0;
				background-color:rgba(255, 255, 255, 0.7);
			}
		}
	}
}

footer {
	padding:70px 0;
	p.copyright {
		color:$blue;
		font-family:$font-family-sans-serif;
		font-weight:600;
	}
}

/* override ul margin */
.slick-dots { 
	margin:0; 
}

/* foundation overrides */
.top-bar-section ul.right {
	margin-top: 50px;
	> li {
		margin:0 20px;
		a {
			line-height:45px;
		}
	}
	li:not(.has-form) a:not(.button) {
		line-height:initial;
		padding:0;
		&.active {
			border-bottom:4px solid $blue;
		}
	}
	li.has-dropdown a:not(.button) {
		padding:0 15px;
	}
	.has-dropdown li:not(.has-form) a:not(.button) {
		padding:0 15px;
		line-height:45px;
	}
	.dropdown {
		padding-top:20px;
	}
}

.top-bar-section .has-dropdown { 
	> a:after {
		top:initial;
		margin-top:-10.5px;
	}
}

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";
