@import "settings";
@import "foundation";

h1,
h2,
h3,
h4,
h5 {
	letter-spacing:.06rem;
}

.pb0 {
	padding-bottom:0 !important;
}

hr {
	border-color:$smoke;
	max-width:250px;
	margin-left:auto;
	margin-right:auto;
}

.header-contact {
	position:absolute;
	background-color:$alert-color;
	right:0;
	height:25px;
	z-index: 1;
	&:before {
		content: "";
		background-image: url(/img/emergency_icon.png);
		width: 78px;
		height: 25px;
		position: absolute;
		left: -77px;
	}
	p {
		float:left;
		font-family:$font-family-sans-serif;
	 	text-transform:uppercase;
	 	color:$oil;
	 	font-weight:700;
	 	font-size:14px;
	 	padding:0 20px;
	 	span {
	 		float:left;
	 		padding-left:20px;
	 		&.hide-for-small-only {
	 			padding-left:0;
	 		}
	 	}
	}
}

.extend-contact-container {
	background-color: #fec23d;
	right: 0;
	height: 25px;
	position: absolute;
	width: 50%;
}

section {
	padding-top:80px;
	padding-bottom:80px;
	&.hero {
		padding:0;
		.image {
			position:relative;
			background-size:cover;
			background-position:50% 0;
		}
		.hero-text {
			padding: 5rem 0;
			h1 {
				font-weight:300;
				color:$white;
			}
		}
	}
	&.gray {
		background-color:$smoke;
	}
	&.alternate {
		background-color:$oil;
		h2, 
		h3 {
			color:$white;
		}
		hr { 
			border-color:#444;
		}
		.grid .cell {
			padding-bottom:25px;
			.content {
				position: relative;
				padding-left: 90px;
			}
			div.content:before {
				content: "";
				display: block;
				width: 90px;
				height: 90px;
				float: left;
				margin: 0 6px 0 0;
				position: absolute;
				left: 0;
			}
			div.umbrella:before {
				background: url("/img/umbrella_icon.png") no-repeat;
			}
			div.tie:before {
				background: url("/img/tie_icon.png") no-repeat;
				margin-left: 20px;
			}
			div.paintroller:before {
				background: url("/img/paintroller_icon.png") no-repeat;
			}
			div.paintbrush:before {
				background: url("/img/paintbrush_icon.png") no-repeat;
			}
			div.extinguisher:before {
				background: url("/img/extinguisher_icon.png") no-repeat;
				margin-left: 20px;
			}
			div.phone:before {
				background: url("/img/phone_icon.png") no-repeat;
				margin-left: 15px;
			}
			div.rain:before {
				background: url("/img/rain_icon.png") no-repeat;
			}
			div.fire:before {
				background: url("/img/fire_icon.png") no-repeat;
			}
			div.tick:before {
				background: url("/img/tick_icon.png") no-repeat;
			}
			div.firstaid:before {
				background: url("/img/firstaid_icon.png") no-repeat;
			}
		}
		.quote { 
			position:relative;
			padding:0 30px; 
			color:$silver;
			span {
				float:right;
				margin-top:10px;
				color:#666;
			}
			&:before {
				content: "";
				background-image: url(/img/left_quotes.png);
				width:16px;
				height:13px;
				position:absolute;
				margin-left:-35px;
				top:35px;
			}
			&:after {
				content: "";
				background-image: url(/img/right_quotes.png);
				width:16px;
				height:13px;
				position:absolute;
				right: 5px;
				top: 35px;
			}
		}
	}
	&.map {
		position:relative;
		border-bottom:14px solid $blue;
		padding-top:0;
		padding-bottom:0;
		.header-overlay {
			position:absolute;
			width: 100%;
			z-index: 1;
			h2 {
				position:absolute;
				width:100%;
				margin:0;
				padding:60px 0;
				background-color:rgba(255, 255, 255, 0.5);
			}
		}
		#map-container {
			position:relative;
			height:700px;
			overflow:hidden;
			iframe {
				position:absolute;
				top:0;
				left:0;
				width:100% !important;
				height:100% !important;
			}
		}
	}
}

.form-panel {
	.panel-header {
		background:#000;
		height: 80px;
		line-height: 80px;
		.icon {
			content: "";
			background-image: url(/img/emergency_icon-2.png);
			width: 75px;
			height: 25px;
			display: inline-block;
			vertical-align: middle;
		}
		h4 {
			display:inline;
			color:#fff;
			font-size:18px;
			position: relative;
			left: 20px;
			top: 3px;
		}
	}
	.panel-body {
		background:#f6f6f6;
		padding:40px;
		border-bottom:5px solid $silver;
		input[type="text"],
		select,
		textarea {
			margin: 0 0 1.6rem 0;
		}
		textarea { 
			min-height:5rem;
		}
		.button {
			margin:0;
			padding-left:3rem;
			padding-right:3rem;
		}
	}
}

footer {
	padding:70px 0;
	p.copyright {
		color:$blue;
		font-family:$font-family-sans-serif;
		font-weight:600;
		float:left;
	}
	.facebook {
		background-image: url(/img/facebook_icn.png);
		width:12px;
		height:22px;
		margin-top:4px;
	}
	.twitter {
		background-image: url(/img/twitter_icn.png);
		width:23px;
		height:17px;
		margin-top:7px;
	}
	.indesign {
		background-image: url(/img/indesign_icn.png);
		width:24px;
		height:20px;
		margin-top:5px;
	}
}

/* Slick slider overrides */
.slick-slider {
	margin-bottom:0;
	.slick-dots { 
		margin:0; 
		bottom:45px;
		li {
			&.slick-active {
				button {
					&:before {
						color:$blue;
						opacity:1;
					}
					&:hover {
						opacity:1;
					}
				}
			}
			button {
				&:before {
					border-radius: 13px;
					border: 2px solid $smoke;
					font-size:10px;
					width:13px;
					height:13px;
					line-height:13px;
					color:inherit;
					opacity:1;
				}
				&:hover {
					opacity:0.8;
				}
			}
		}
	}
}

.services-slider {
	.slick-prev:before,
	.slick-next:before {
		color:$blue;
	}
}

/* foundation overrides */
.top-bar {
	.logo {
		background: url(/img/logo.png) no-repeat;
		width:222px;
		height:72px;
		position:absolute;
		top:9px;
	}
	.toggle-topbar.menu-icon a {
		font-family:$font-family-sans-serif;
	}
	&.expanded {
		.toggle-topbar {
			a {
				color:$aluminum;
			}
		}
		.top-bar-section {
			ul.right {
				padding-top: 25px;
				.dropdown li a {
					span {
						border-bottom: 4px solid $blue;
					}
				}
			}
		}
	}
	ul.right {
		li:not(.has-form):not(.active):hover > a:not(.button) { 
			background: #333;
		}
	}
	.top-bar-section .dropdown li.title h5 a, 
	.top-bar-section .dropdown li.parent-link a {
		text-transform:uppercase;
	}
}

select {
	background-color:$smoke;
	border-bottom:4px solid $silver;
	color:$aluminum;
}

/* Retina-specific */
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 

	.top-bar .logo {
		background-image: url(/img/logo@2x.png);
		background-size:222px 72px;
	}

    section.alternate .grid .cell {
	    div.umbrella:before {
			background: url("/img/umbrella_icon@2x.png") no-repeat;
			background-size: 59px 58px;
		}
		div.tie:before {
			background: url("/img/tie_icon@2x.png") no-repeat;
			background-size: 23px 63px;
		}
		div.paintroller:before {
			background: url("/img/paintroller_icon@2x.png") no-repeat;
			background-size: 52px 52px;
		}
		div.paintbrush:before {
			background: url("/img/paintbrush_icon@2x.png") no-repeat;
			background-size: 69px 45px;
		}
		div.extinguisher:before {
			background: url("/img/extinguisher_icon@2x.png") no-repeat;
			background-size: 39px 52px;
		}
		div.phone:before {
			background: url("/img/phone_icon@2x.png") no-repeat;
			background-size: 48px 51px;
		}
		div.rain:before {
			background: url("/img/rain_icon@2x.png") no-repeat;
			background-size: 59px 60px;
		}
		div.fire:before {
			background: url("/img/fire_icon@2x.png") no-repeat;
			background-size: 42px 53px;
		}
		div.tick:before {
			background: url("/img/tick_icon@2x.png") no-repeat;
			background-size: 47px 45px;
		}
		div.firstaid:before {
			background: url("/img/firstaid_icon@2x.png") no-repeat;
			background-size: 43px 43px;
		}
	}

	.header-contact:before {
		background-image: url(/img/emergency_icon@2x.png);
		background-size: 78px 25px;
	}

	.form-panel .panel-header .icon {
		background-image: url(/img/emergency_icon-2@2x.png);
		background-size: 75px 25px;
	}

	.alternate {
		.quote { 
			&:before {
				background-image: url(/img/left_quotes.png);
				background-size:16px 13px;
			}
			&:after {
				background-image: url(/img/right_quotes.png);
				background-size:16px 13px;
			}
		}
	}

	footer {
		.facebook {
			background-image: url(/img/facebook_icn@2x.png);
			background-size:12px 22px;
		}
		.twitter {
			background-image: url(/img/twitter_icn@2x.png);
			background-size:23px 17px;
		}
		.indesign {
			background-image: url(/img/indesign_icn@2x.png);
			background-size:24px 20px;
		}
	}
}

/* Media  Queries */
/* Mobile styles */
@media only screen and (max-width: 40em) { 
	.header-contact {
		width:100%;
		left: 77px;
		p {
			right: 77px;
			position: absolute;
		}
	}
	.form-panel .panel-body .button {
		width:100%;
	}
}

@media only screen and (min-width: 40.063em ) {
	.top-bar {
		.logo {
			background-size:50% 50%;
		}
		.top-bar-section {
			ul.right {
				position:absolute;
				top:55px;
				right:0;
				> li {
					margin:0 20px;

					&.has-dropdown {
						margin:0;
					}
					a {
						line-height:45px;
						&:hover {
							color:$smoke;
						}
					}
				}
				> li:last-child {
					margin-right:20px;
				}
				li:not(.has-form) a:not(.button) {
					line-height:initial;
					padding:0;
					span.active,
					&.active {
						border-bottom:4px solid $blue;
					}
				}
				li.has-dropdown a:not(.button) {
					padding:0 15px;
				}
				.has-dropdown li:not(.has-form) a:not(.button) {
					padding:0 15px;
					line-height:45px;
					font-weight:600;
				}
				// Hover state on dropdown
				.dropdown {
					padding-top:20px;
					li:not(.has-form):not(.active):hover > a:not(.button) { 
						background: #333;
					}
				}
			}
			.has-dropdown { 
				> a:after {
					top:initial;
					margin-top:-10.5px;
				}
			}
		}
		.toggle-topbar.menu-icon a {
			font-family:$font-family-sans-serif;
		}
		&.expanded {
			.toggle-topbar {
				a {
					color:$aluminum;
				}
			}
			.top-bar-section {
				ul.right {
					padding-top: 25px;
				}
			}
		}
	}

	section {
		padding-top:80px;
		padding-bottom:80px;
		&.hero {
			padding:0;
			.image {
				background-position:50% 0;
				height:630px;
			}
			.hero-text {
				h1 {
					font-weight:300;
					color:$white;
				}
				position:absolute;
				top:100px;
				width:530px;
			}
		}
	}
}

@media only screen and (min-width: 64.063em) {
	.top-bar {
		.logo {
			background-size:100%;
		}
	}
}

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";
